<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="AutomationPracticeMaven">
  <test name="Test">
  <parameter name="browser" value="chrome"></parameter>
    <classes>
      <class name="com.test.AutomationPracticeMaven.setup"/>
    </classes>
  </test> <!-- Test --> 
  
</suite> <!-- AutomationPracticeMaven -->
